{% extends "base.html" %}
{% load static %}

    <title>{% block title %}Secret Santa{% endblock %}</title>
    {% block extra_css %}<link rel="stylesheet" href="{% static 'SecretSanta/stylesanta.css' %}">{% endblock %}

 {% block content %}

    <form method="post">
  {% csrf_token %}
  {{ form.as_p }}

  <button type="submit">Add a participant</button>
</form>

<body>
      <h1>List of participants </h1>
          <ul>
              {% for person in participants %}
                  <li>
                      {{ person }}
                      <a href=" {% url 'remove_participant' person %}">❌</a>
                  </li>
                   {% empty %}
          <li>No participants yet</li>
                  {% endfor %}
          </ul>
<a href="{% url 'pairs_page' %}">Generate pairs</a>
<form action = "{% url 'clear_participants' %}" method="post">
    {% csrf_token %}
    <button type="submit">Clear the list</button>
</form>
</body>
{% endblock %}